<style>
  .connectedgrid_full {
    --s: 1;
    --color-text: #000000;
    --color-bg: #85827a;
    --color-link: #c7bea7;
    --color-link-hover: #000;
    --color-title: #000000;
    --color-year: #b9b3af;
    z-index: 10;
  }

  .grid_full {
    width: 100%;
    grid-template-columns: 100%;
    /* grid-auto-rows: auto; */
    display: grid;
    position: relative;
  }

  .grid__item_full {
    position: relative;
    grid-row: 1 / span 5;
  }

  .grid__item-img_full {
    position: relative;
    /* overflow: hidden; */
    display: grid;
    place-items: center;
    width: 100%;
    height: auto;
    aspect-ratio: 0.75;
  }

  .grid__item-img-inner_full {
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    position: relative;
  }

  .playfairI {
    font-family: "Playfair Light Italic";
  }
  .playfairR {
    font-family: "Playfair Light";
  }

  .grid_full {
    grid-template-columns: repeat(12, 2fr);
    gap: 20px;
  }

  .grid__item_full {
    grid-column: var(--c) / span var(--s);
    grid-row: var(--r);
  }

  h3 {
    position: sticky;
  }

  .griditem1 {
    --r: 1;
    --c: 2;
    --s: 2;
  }

  .griditem2 {
    --r: 2;
    --c: 9;
    --s: 4;
    margin-top: -15vw;
    margin-right: 3vw;
  }

  .griditem3 {
    --r: 3;
    --c: 3;
    --s: 3;
  }

  .griditem4 {
    --r: 4;
    --c: 8;
    --s: 3;
    margin-top: -15vw;
    margin-right: 5vw;
  }

  .griditem5 {
    --r: 5;
    --c: 1;
    --s: 3;
  }

  .griditem6 {
    --r: 6;
    --c: 10;
    --s: 3;
    margin-top: -15vw;
    margin-right: 3vw;
  }

  .griditem7 {
    --r: 7;
    --c: 3;
    --s: 2;
    margin-top: 5vw;
    margin-right: 3vw;
  }

  .griditem8 {
    --r: 8;
    --c: 9;
    --s: 2;
    margin-top: -5vw;
  }

  .griditem9 {
    --r: 9;
    --c: 3;
    --s: 3;
  }

  .griditem10 {
    --r: 10;
    --c: 10;
    --s: 2;
  }

  .griditem11 {
    --r: 11;
    --c: 1;
    --s: 3;
    margin-top: -5vw;
    margin-left: 3vw;
  }

  .griditem12 {
    --r: 12;
    --c: 8;
    --s: 3;
    margin-top: -5vw;
    margin-left: 3vw;
  }

  @media only screen and (max-width: 820px) {
    .grid_full {
      grid-template-columns: repeat(6, 2fr);
      gap: 20px;
      padding: 0 50px;
      row-gap: 65px;
    }

    .grid__item_full {
      margin: 0 !important;
    }

    .griditem1 {
      --c: 1;
      --r: 1;
      --s: 2;
    }

    .griditem2 {
      --c: 4;
      --r: 2;
      --s: 3;
    }

    .griditem3 {
      --c: 1;
      --r: 3;
      --s: 3;
    }

    .griditem4 {
      --c: 4;
      --r: 4;
      --s: 2;
    }

    .griditem5 {
      --c: 2;
      --r: 5;
      --s: 2;
    }

    .griditem6 {
      --c: 5;
      --r: 6;
      --s: 2;
    }

    .griditem7 {
      --c: 1;
      --r: 7;
      --s: 2;
    }

    .griditem8 {
      --c: 4;
      --r: 8;
      --s: 3;
    }

    .griditem9 {
      --c: 2;
      --r: 9;
      --s: 3;
    }

    .griditem10 {
      --c: 4;
      --r: 10;
      --s: 2;
    }

    .griditem11 {
      --c: 1;
      --r: 11;
      --s: 2;
    }

    .griditem12 {
      --c: 4;
      --r: 12;
      --s: 3;
    }
  }
</style>

<section class="md:my-24 relative themdc-container">
  <h3
    class="sticky top-[50%] left-[50%] text-center md:text-7xl text-6xl playfairI"
  >
    Taking<br />over <span class="playfairR">D.C.</span>
  </h3>
  <div class="grid_full connectedgrid_full mt-[-133px]">
    <figure class="griditem1 grid__item_full">
      <div class="grid__item-img_full">
        <div
          class="grid__item-img-inner_full"
          style="background-image:url(https://media.them.us/photos/67dc6daeb208d439d1c7ec92/w_500/pass/_0010_Them_DC_021.png?format=original);"
        >
        </div>
      </div>
    </figure>
    <figure class="griditem2 grid__item_full">
      <div class="grid__item-img_full">
        <div
          class="grid__item-img-inner_full"
          style="background-image:url(https://media.them.us/photos/67dc6daf38e4f50cef237c74/w_500/pass/_0011_Them_DC_015.png?format=original);"
        >
        </div>
      </div>
    </figure>
    <figure class="griditem3 grid__item_full">
      <div class="grid__item-img_full">
        <div
          class="grid__item-img-inner_full"
          style="background-image:url(https://media.them.us/photos/67dc6dae38e4f50cef237c72/w_500/pass/_0009_Them_DC_023.png?format=original);"
        >
        </div>
      </div>
    </figure>
    <figure class="griditem4 grid__item_full">
      <div class="grid__item-img_full">
        <div
          class="grid__item-img-inner_full"
          style="background-image:url(https://media.them.us/photos/67dc6daec5100fd362868725/w_500/pass/_0008_Them_DC_025.png?format=original);"
        >
        </div>
      </div>
    </figure>
    <figure class="griditem5 grid__item_full">
      <div class="grid__item-img_full">
        <div
          class="grid__item-img-inner_full"
          style="background-image:url(https://media.them.us/photos/67dc6daeb208d439d1c7ec90/w_500/pass/_0007_Them_DC_026.png?format=original);"
        >
        </div>
      </div>
    </figure>

    <figure class="griditem6 grid__item_full">
      <div class="grid__item-img_full">
        <div
          class="grid__item-img-inner_full"
          style="background-image:url(https://media.them.us/photos/67dc6dacb208d439d1c7ec8e/w_500/pass/_0005_Them_DC_042.png?format=original);"
        >
        </div>
      </div>
    </figure>
    <figure class="griditem7 grid__item_full">
      <div class="grid__item-img_full">
        <div
          class="grid__item-img-inner_full"
          style="background-image:url(https://media.them.us/photos/67dc6daedcf9e5593ddc778e/w_500/pass/_0006_Them_DC_041.png?format=original);"
        >
        </div>
      </div>
    </figure>
    <figure class="griditem8 grid__item_full">
      <div class="grid__item-img_full">
        <div
          class="grid__item-img-inner_full"
          style="background-image:url(https://media.them.us/photos/67dc6dacc5100fd362868723/w_500/pass/_0004_Them_DC_047.png?format=original);"
        >
        </div>
      </div>
    </figure>
    <figure class="griditem9 grid__item_full">
      <div class="grid__item-img_full">
        <div
          class="grid__item-img-inner_full"
          style="background-image:url(https://media.them.us/photos/67dc6dacdcf9e5593ddc778b/w_500/pass/_0000_TRV235749_TH_x_DC_Chosen_Family_Trip_Longform_9x16_022624_VIDEO_STILL_05.png?format=original);"
        >
        </div>
      </div>
    </figure>
    <figure class="griditem10 grid__item_full">
      <div class="grid__item-img_full">
        <div
          class="grid__item-img-inner_full"
          style="background-image:url(https://media.them.us/photos/67dc6dacdcf9e5593ddc778c/w_500/pass/_0002_Them_DC_060.png?format=original);"
        >
        </div>
      </div>
    </figure>
    <figure class="griditem11 grid__item_full">
      <div class="grid__item-img_full">
        <div
          class="grid__item-img-inner_full"
          style="background-image:url(https://media.them.us/photos/67dc6dacc5100fd362868722/w_500/pass/_0001_TRV235749_TH_x_DC_Chosen_Family_Trip_15SEC_1x1_022624_VIDEO_STILL_03.png?format=original);"
        >
        </div>
      </div>
    </figure>
    <figure class="griditem12 grid__item_full mt-[-5vw] ml-[3vw]">
      <div class="grid__item-img_full">
        <div
          class="grid__item-img-inner_full"
          style="background-image:url(https://media.them.us/photos/67dc6dacf02d89c1e6025abb/w_500/pass/_0003_Them_DC_057.png?format=original);"
        >
        </div>
      </div>
    </figure>
  </div>
</section>
