<style>
  .slides {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;
    place-items: center;
    transition: opacity 0.5s ease;
  }

  .slide {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / -1 / -1;
    pointer-events: none;
    opacity: 0;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
    will-change: transform, opacity;
  }

  .slide--current {
    pointer-events: auto;
    opacity: 1;
  }

  .slide__img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    will-change: transform, opacity, filter;
  }

  .fade-out {
    opacity: 0;
  }

  .noshowintro {
    display: none;
  }

  .slide__img.slide__img_1 {
    background-image: url(https://media.them.us/photos/67d079b5e6329b8e7c2a9bfa/w_1000/pass/Them_DC_062.jpg?format=original);
  }
  .slide__img.slide__img_2 {
    background-image: url(https://media.them.us/photos/67d079b5d110009f91ba118d/w_1000/pass/Them_DC_053.png?format=original);
  }
  .slide__img.slide__img_3 {
    background-image: url(https://media.them.us/photos/67d079b53bfb25f1f6ad8364/w_1000/pass/Them_DC_014%202.png?format=original);
  }
  .slide__img.slide__img_4 {
    background-image: url(https://media.them.us/photos/67d079b5d110009f91ba118c/w_1000/pass/Them_DC_049.jpg?format=original);
  }

  @media only screen and (max-width: 500px) {
    .slide__img.slide__img_1 {
      background-image: url(https://media.them.us/photos/67f3e30970759bcc2a5b4ca9/original/pass/Them_DC_062_mobile.jpg?format=original);
    }
    .slide__img.slide__img_2 {
      background-image: url(https://media.them.us/photos/67f3e309a7d4e1feb50df67b/original/pass/Them_DC_053_mobile.jpg?format=original);
    }
    .slide__img.slide__img_3 {
      background-image: url(https://media.them.us/photos/67f3e30966146412caaee762/original/pass/Them_DC_052_mobile.jpg?format=original);
    }
    .slide__img.slide__img_4 {
      background-image: url(https://media.them.us/photos/67f3e309a7d4e1feb50df67a/original/pass/Them_DC_049_mobile.jpg?format=original);
    }
  }
</style>

<section class="themdc-container">
  <div class="slides z-100 fixed top-0">
    <div class="slide">
      <div
        class="slide__img flex align-middle items-center justify-center w-full"
        style=""
      >
        <div
          class="flex align-middle items-center justify-center w-full gap-15 md:flex-row flex-col"
        >
          <img
            class="w-[100px] logoleft"
            src="https://media.them.us/photos/67e5937ec8879abc4c95cece/original/pass/DC-logo.png?format=original"
            alt=""
          />
          <img
            class="w-[75%] md:w-[40%] mx-10 logocenter"
            src="https://media.them.us/photos/67e584665120336f7dc2363b/original/pass/DC_TITLE_1-01%201.png?format=original"
            alt=""
          />
          <img
            class="w-[130px] logoright"
            src="https://media.them.us/photos/67e5937d8d127305d968081c/original/pass/themlogo.png?format=original"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="slide__img slide__img_1"></div>
    </div>
    <div class="slide">
      <div class="slide__img slide__img_2"></div>
    </div>
    <div class="slide">
      <div class="slide__img slide__img_3"></div>
    </div>
    <div class="slide">
      <div class="slide__img slide__img_4"></div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { Slideshow } from "../scripts/slideshow.js";
  import { preloadImages } from "../scripts/utils.js"; // Utility function to preload images

  const slides = document.querySelector(".slides") as any;
  const main = document.querySelector(".main-content") as any;
  const body = document.querySelector("body") as any;
  const slideshow = new Slideshow(slides);
  const slideshowSlides = slideshow.DOM.slides;
  const firstSlide = slideshowSlides[0];
  const lastSlide = slideshowSlides[slideshowSlides.length - 2];

  var setSlidernAnimatedInterval = 0;

  function showNextSlide() {
    if (firstSlide.classList.contains("slide--current")) {
      setSlidernAnimatedInterval = setInterval(showNextSlide, 1200);
    } else if (lastSlide.classList.contains("slide--current")) {
      clearInterval(setSlidernAnimatedInterval);
      setTimeout(() => {
        slides.classList.add("fade-out");
        slides.addEventListener("transitioned", () => {}, {
          once: true,
        });
        main.classList.remove("noshowintro");
        setTimeout(() => {
          slides.classList.add("noshowintro");
          body.classList.remove("noscrollintro");
        }, 200);
      }, 1200);
    }
    slideshow.next();
  }

  const logoleft = document.querySelector(".logoleft") as any;
  const logoright = document.querySelector(".logoright") as any;
  const logocenter = document.querySelector(".logocenter") as any;

  let mm = gsap.matchMedia();

  mm.add("(max-width: 667px)", () => {
    gsap.fromTo(
      ".logoleft",
      { autoAlpha: 0, y: 200 },
      { autoAlpha: 1, y: 0, duration: 1 }
    );
    gsap.fromTo(
      ".logoright",
      { autoAlpha: 0, y: -200 },
      { autoAlpha: 1, y: 0, duration: 1 }
    );
  });
  mm.add("(min-width: 668px)", () => {
    gsap.fromTo(
      ".logoleft",
      { autoAlpha: 0, x: 200 },
      { autoAlpha: 1, x: 0, duration: 1 }
    );
    gsap.fromTo(
      ".logoright",
      { autoAlpha: 0, x: -200 },
      { autoAlpha: 1, x: 0, duration: 1 }
    );
  });

  function startSlideshow() {
    setTimeout(() => {
      showNextSlide();
    }, 3500);
  }

  preloadImages(".slide__img").then(() => startSlideshow());
</script>
