---
import { Image } from "astro:assets";
---

  <a href="https://www.them.us/">
    <Image
      class=""
      width="111.51"
      height="43.11"
      src="https://media.them.us/photos/67e5937d8d127305d968081c/original/pass/themlogo.png?format=original"
      alt=""
    />
  </a>
  <p>&#x2715;</p>
  <a href="https://washington.org/">
    <Image
      class=""
      width="92.24"
      height="66.67"
      src="https://media.them.us/photos/67e5937ec8879abc4c95cece/original/pass/DC-logo.png?format=original"
      alt=""
    />
  </a>

