---
import { Image } from "astro:assets";
---


<a href="https://www.them.us/" class="showdesktop mt-[5px]" target="_blank">
  <Image
    class=""
    width="111"
    height="35.05"
    src="https://media.them.us/photos/67e5937d8d127305d968081c/original/pass/themlogo.png?format=original"
    alt=""
  />
</a>
<p class="mt-[15px] showdesktop">&#x2715;</p>
<a href="https://washington.org/" class="showdesktop" target="_blank">
  <Image
    class=""
    width="92"
    height="65.7"
    src="https://media.them.us/photos/67e5937ec8879abc4c95cece/original/pass/DC-logo.png?format=original"
    alt=""
  />
</a>

<a
  href="https://www.them.us/"
  class="showmobile mt-[5px] w-[75px]"
  target="_blank"
>
  <Image
    class=""
    width="111"
    height="35.05"
    src="https://media.them.us/photos/67eeb9cdf5a4210a459ec8fe/original/pass/themlogo-white.png?format=original"
    alt=""
  />
</a>
<p class="mt-[15px] showmobile text-white">&#x2715;</p>
<a href="https://washington.org/" class="showmobile w-[65px]" target="_blank">
  <Image
    class=""
    width="92"
    height="65.7"
    src="https://media.them.us/photos/67eeb9cd28c6c1c64c02eb8a/original/pass/DC-logo_white.png?format=original"
    alt=""
  />
</a>
