<style>
  .results-row {
    /* margin: auto; */
    display: flex;
    width: 100%;
    max-width: 1206px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 75px;
    padding-top: 20px;
    text-align: center;
    align-items: start;
    font-family: "Apercu Bold";
  }

  .results-item {
    display: flex;
    align-items: flex-end;
    gap: 4px;
  }

  .text-small {
    max-width: 300px;
    min-width: 200px;
    align-items: start;
  }

  .blocknumber-large {
    font-size: 150px;
    line-height: 150px;
    color: black;
    font-family: "Apercu Bold";
  }

  .blocknumber {
    font-size: 75px;
    line-height: 75px;
    color: black;
    font-family: "Apercu Bold";
  }

  .block-large {
    padding-bottom: 4px;
    font-size: 35px;
    color: black;
    font-family: "Apercu Bold";
    margin-top: -30px;
  }

  .block-small {
    padding-bottom: 4px;
    font-size: 17px;
    color: black;
    font-family: "Apercu Bold";
    line-height: 17px;
    margin-top: -10px;
  }

  .results {
    text-align: center;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 820px) {
    .blocknumber-large {
      font-size: 100px;
      line-height: 100px;
    }
    .blocknumber {
      font-size: 50px;
      line-height: 50px;
    }
    .block-large {
      font-size: 25px;
    }
    .block-small {
      font-size: 14px;
      line-height: 17px;
    }

    .results-row {
      gap: 30px;
    }
  }
</style>

<section
  class="themdc-container px-8 relative z-20 flex flex-col items-center justify-center mb-44"
>
  <div class="results">
    <h3>Results</h3>
    <br />
    <p class="max-w-[600px] mx-auto text-black text-base leading-5">
      The content was amplified across them magazine and the Condé Nast digital
      portfolio via digital and social placements, showing queer audiences
      across the nation that D.C. not only has a vibrant LGBTQ+ culture, but is
      the prime location to forge unbreakable connections among chosen family.
      <br /><br />
      The authenticity of the campaign delivered outsized impact—exceeding KPIs,
      shifting audience perception, and driving travel intent to Washington, D.C.—elevating
      Washington, D.C.’s queer-friendly reputation and making it a more desirable
      destination for queer travelers.
    </p>
  </div>
  <div class="results-row">
    <div class="results-item">
      <div class="text-center">
        <p class="block blocknumber-large">42M+</p><br />
        <p class="block block-large">impressions</p>
      </div>
    </div>
    <div class="results-item">
      <div class="text-center">
        <p class="block blocknumber-large">7M+</p>
        <br />
        <p class="block block-large">video views</p>
      </div>
    </div>
  </div>
  <br />
  <div class="results-row">
    <div class="results-item">
      <div class="text-small">
        <p class="block blocknumber">+33%</p><br />
        <p class="block block-small">
          lift in unaided <br />awareness of D.C.
        </p>
      </div>
    </div>
    <div class="results-item">
      <div class="text-small">
        <p class="block blocknumber">+13%</p>
        <br />
        <p class="block block-small">lift that D.C is “Inclusive”</p>
      </div>
    </div>
    <div class="results-item">
      <div class="text-small">
        <p class="block blocknumber">+15%</p>
        <br />
        <p class="block block-small">
          lift in the sentiment that <br /><i>“D.C. has great nightlife”</i>
        </p>
      </div>
    </div>
  </div>
</section>
