---
import Video from "./utils/Video.astro";
import CopyWrap from "./utils/CopyWrap.astro";
---

<section
  class="themdc-container mx-auto w-full max-w-[1442px] relative z-20 flex flex-col items-center"
>
  <CopyWrap>
    The campaign aimed to shift this perception by positioning D.C. as an
    unexpected yet thriving LGBTQ+ hub-one that offers world-class nightlife,
    cultural depth, and a tight-knit, inclusive community. The insight was
    clear: queer travelers prioritize experiences where they feel seen,
    celebrated, and safe. <br /><br /> Queering the Capital is a photo, video, and
    social series where them follows four queer friends on a weekend getaway in Washington,
    D.C., capturing their journey. Experiencing the city's vibrant queer culture,
    they visit LGBTQ+ spots like As You Are, the DC LGBTQ+ Community Center, and
    Trade. From brunch and volunteering to voguing in front of iconic monuments,
    their adventure celebrates queer joy and self-expression. The series highlights
    their deep connections and the unbreakable bonds of chosen family, offering a
    vibrant look at D.C.'s queer culture and authentic living.
  </CopyWrap>
  <Video
    url="https://media.them.us/clips/624ccd6f201781c9ea7bc7e9/original/pass/THEM_REBRAND_CMPN_FINAL_16-9_COLOR_040422_1__Converted_-hi_AdobeCreativeCloudExpress.mp4?format=original"
    width={1920}
    height={1080}
    className="h-auto w-[800px]"
  />
  <CopyWrap>
    We ditched the typical travel content series for something more innovative.
    Instead of following a scripted itinerary, we empowered four queer friends
    to curate their own journey, making it feel like a genuine travel
    recommendation rather than a branded message. Through long-form video,
    photography, social media placements, and influencer amplification, we
    immersed the audience in an exhilarating adventure. The video blends
    cinematic travel documentary aesthetics with raw, intimate vlogging,
    creating an authentic, emotionally resonant experience.
  </CopyWrap>
</section>
