---
import Video from "./utils/Video.astro";
import CopyWrap from "./utils/CopyWrap.astro";
---

<section
  class="themdc-container mx-auto w-full max-w-[1442px] relative z-20 flex flex-col items-center mt-30"
>
  <Video
    url="https://res.cloudinary.com/dbwsyvmxr/video/upload/v1743703091/TRV235749_TH_x_DC_Chosen_Family_Trip_Longform_16x9_Captions_022624_Texted_H264_1_vbqkf0"
    width={1920}
    height={1080}
    className="h-auto w-[800px]"
    poster="https://media.them.us/photos/67eee2445b6685b045165875/original/pass/longforposter-themdc.jpg?format=original"
  />
  <CopyWrap>
    We positioned D.C. as a must-visit LGBTQ+ destination through authentic
    storytelling—queer stories told by queer talent. By highlighting its vibrant
    culture, nightlife, and community spaces, we increased awareness, shifted
    perceptions of inclusivity, drove engagement, and boosted travel intent, all
    measured through brand tracking and media performance.
  </CopyWrap>
</section>
